<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
    <form th:method="POST" th:object="${person}" th:action="@{/people}">
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Name error</div>
        <br>
        <label for="age">Enter age:</label>
        <input type="text" th:field="*{age}" id="age">
        <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red">Age error</div>
        <br>
        <label for="email">Enter email:</label>
        <input type="text" th:field="*{email}" id="email">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">Email error</div>
        <br>
        <input type="text" th:field="*{address}" id="address">
        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red">Address error</div>
        <br>
        <input type="submit" value="Create">
    </form>
</body>
</html>