<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Administrator</title>
</head>
<body>
    <form th:method="POST"th:action="@{/admin/add}">
        <label for="person">Выберите человека:</label>
        <select th:object="${person}" id="person" th:field="*{id}">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Add Admin">
    </form>
</body>
</html>